gradle-wrapper.jar
/.gradle
/captures/
/local.properties
**/bak/
**/*.log
.externalNativeBuild
GeneratedPluginRegistrant.java

# Project-specific
app/google-services.json
keystore.properties
play-dev-*.json
